*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  overflow:hidden;
  background:black;
}

canvas{
  display:none;
}

#menu,
#gameOver{
  position:absolute;
  width:100%;
  height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  gap:20px;

  background:
  radial-gradient(circle,#111,#000);

  color:white;

  z-index:20;
}

#gameOver{
  display:none;
}

h1{
  font-size:70px;

  color:#00e5ff;

  text-shadow:0 0 20px #00e5ff;
}

button{
  padding:15px 40px;

  border:none;

  font-size:20px;

  cursor:pointer;

  background:#00e5ff;

  color:black;

  border-radius:10px;

  transition:0.2s;
}

button:hover{
  transform:scale(1.1);
}

#hud{
  position:fixed;

  top:10px;
  left:10px;

  color:white;

  display:none;

  flex-direction:column;

  gap:10px;

  z-index:10;
}

#topHud{
  display:flex;
  gap:20px;

  font-size:24px;
}

#cooldowns{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.bar{
  width:200px;
  height:15px;

  background:#222;

  border-radius:20px;

  overflow:hidden;
}

.bar div{
  height:100%;

  background:#00e5ff;

  width:100%;

  transition:0.1s;
}